html, body {
    width: 100%;
    height: 100%;
    padding: 0px 20px ;
    margin: 0;
}

.cart
{
    cursor: pointer;
}

.answer
{

    padding: 5px 5px;

    background: rgba(248, 127, 7, 0.15);;
    border-radius: 50%;
    position: relative;
    top:-20px;
    left: -10px;
    font-size: 10px;


}


.Form
{
    display: table;
    margin: 0 auto;
    border: 1px solid #f6c231;
    padding: 30px;
    box-shadow: 10px 5px 5px #ffbbb5;
    transition: all 1s ease-out;
    cursor: pointer;
    background: rgb(243, 163, 16);
    border-radius: 20px;
    max-width: 300px;
    transition: all 1s ease-out;
}

.Form:hover
{
    box-shadow: 20px 10px 10px #ffbbb5;
    transition: all 1s ease-out;
}

.Form button
{
    display: table;
    margin: 0 auto;
    text-align: center;
    width: 100px;
    margin-top: 20px;
    transition: all 1s ease-out;
    color: black;
}

.Form input
{
    color: rgba(0, 24, 69, 0.63);
    background: rgb(226, 245, 206);
    border-radius: 10px;
    border: 1px solid #fdeaea;
    width: 100%;
}

.Form label
{
    margin: 0;
    padding: 0;
    width: 100%;
}


.Form input:focus
{
    color: black;
    background: rgb(188, 241, 121);
    outline: none;
}



.Form button:hover {
    background: rgba(10, 245, 54, 0.36);
    color: white;
    transition: all 1s ease-out;
}

.caption {
    grid-area: hd;
    color: #1e7e34;
    font-size: 50px;
    text-align: center;

}

.logo {
    grid-area: logo;

}

.logo img
{
    height: 150px;
}

.footer {
    grid-area: ft;
    width: 100%;
    height: 80px;
    text-align: center;
}
.content {
    grid-area: main;

    background: #ffffff;
    min-height: 700px;

}
.sidebar {
    grid-area: sd;


}

.loging
{
    grid-area: login;
    text-align: right;
    padding-right: 20px;
}


.wrapper {

    display: grid;

    grid-template-columns: repeat(9, 1fr);

    grid-template-areas:

      "logo hd hd hd hd hd hd hd hd"
      "sd sd sd sd sd sd login login login"

      "main  main main main main main main main main"
      "ft ft ft ft   ft   ft   ft   ft   ft";

}

@media screen and (min-width:250px) and (max-width:650px) {
    .wrapper {

        display: grid;

        grid-template-columns: repeat(1, 1fr);

        grid-template-areas:

      "hd "
      "logo "
      "sd "
      "login"
      "main "
      "ft";

    }


    .logo img
    {
        height: 50px;
    }
}

@media screen and (min-width:650px) and (max-width:780px) {
    .logo img
    {
        height: 50px;
    }
    .wrapper {

        display: grid;

        grid-template-columns: repeat(2, 1fr);

        grid-template-areas:

      "hd hd"
      "logo "
      "sd login"
      "main main "
      "ft ft";

    }
}



    /*Меню*/
#navbar ul{
    background-color: #ffffff;
}

#navbar, #navbar ul{
    list-style-type: none;
}
#navbar {
    height: 25px;
    background-color: #ffffff;
    transition: all 1s ease-out;
}
#navbar li {
    float: left;
    transition: all 1s ease-out;
}
#navbar li a {
    padding-left: 10px;
    padding-right: 10px;

    color: #000000;
    text-decoration: none;
    text-align: center;
    transition: all 1s ease-out;
}

#navbar li a:hover {
    color: #ffffff;
    transition: all 1s ease-out;
}

#navbar ul li { float: none;  }
#navbar li:hover {
    background-color: #efc215;
    transition: all 1s ease-out;
}
#navbar ul li:hover { background-color: #666; transition: all 1s ease-out;}

/* иконки Меню (Card)  */
.foodCard
{
    width: 200px;
    height: 120px;
    float: left;
    margin-left: 40px;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.16);
    transition: all 0.5s ease-out;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.28);
    margin-top: 30px;
    transition: all 0.5s ease-out;
}

.foodCard:hover
{
    box-shadow: 20px 10px 10px #000000;
    transition: all 0.5s ease-out;
}

.foodCard img
{
    padding-left: 50px;
    height: 95px;
}


.foodCard-name
{
   margin-top: 2px;
   text-align: center;

}

.mainDish
{
    background:aqua;
}


.title
{
    text-align:center;
    font-size:40px;
}


.ingridient
{
    background:red;
    height:200px;
}

.price
{
    background:gray;
    height:200px;
}

